::-moz-selection {
  background: rgba(darken($yellow, 30%), 0.4);
}

::selection {
  background: rgba(darken($yellow, 30%), 0.4);
}

.current-shadow{
  box-shadow: 0 2px 6px rgba(#000, 0.2);
  z-index: 1;
}

.cursor-pointer{
  cursor: pointer;
}

a.current-shadow, .cursor-pointer.current-shadow{
  transition: box-shadow 0.3s;
  &:hover{
    box-shadow: 0 4px 8px rgba(#000, 0.3);
  }
}

.link-reset{
  text-decoration: none;
  color: inherit;
  &:hover, &:focus, &:active{
    text-decoration: none;
    color: inherit;
  }
}

.main-content{
  position: relative;
  z-index: 9;
  background-color: #fff;
  margin-bottom: 72px;
  padding-top: 72px;
}

.main-footer{
  z-index: 1;
}

.height-full{
  min-height: 100vh;
}

.height-half{
  min-height: 50vh;
}

.bg-gradient{
  background: linear-gradient(to right, $main-color , darken($main-color, 10%));
  color: #fff;
}

.overflow-hidden{
  overflow: hidden;
}

.title-char{
  $size: 4px;

  display: inline-block;
  height: $size;
  width: $size*6;
  border-radius: $size/2;
  background-color: $yellow;
}

.custom-link{
  position: relative;
  text-decoration: none;
  &:after{
    content: '';
    display: block;
    height: 4px;
    border-radius: 2px;
    width: 0;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
    transition: width 0.2s;
  }
  &:hover, &.active{
    text-decoration: none;
    &:after{
      width: 30px;
    }
  }
}

.mw-800{
  max-width: 800px;
}

.mw-600{
  max-width: 600px;
}

.mw-400{
  max-width: 400px;
}

.btn{
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  &:hover{
    box-shadow: 0 2px 8px rgba(#000, 0.3);
  }
  &:focus{
    box-shadow: 0 2px 4px rgba(#000, 0.2)!important;
  }
}

.btn-rounded{
  border-radius: 40px;
}

.relative{
  position: relative;
}

.main-section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.service-pic{
  width: 300px;
  height: auto;
}

.project-section{
  position: relative;
  // overflow: hidden;
  &__clip{
    clip: rect(auto, auto, auto, auto);
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    @include media-breakpoint-up(md) {
      position: absolute;
    }
  }
  &__item{
    max-width: 300px;
    max-height: 600px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    // width: 51.66667%;
    @include media-breakpoint-up(md) {
      left: 25%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 50px;
    }
    @include media-breakpoint-down(lg) {
      max-width: 200px;
      max-height: 400px;
    }
    @include media-breakpoint-down(md) {
      max-width: 150px;
      max-height: 300px;
    }
    &:before{
      content: '';
      position: absolute;
      width: 96%;
      height: 96%;
      top: 2%;
      left: 2%;
      border-radius: 40px;
      display: block;
      background-color: transparent;
      box-shadow: 0 30px 90px rgba(#000, 0.5);
    }
  }
  &__info{
    position: relative;
    z-index: 9;
  }
  &__frame{
    position: relative;
    z-index: 99;
  }
  &__pic{
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 60px;
    height: auto;
    margin-top: -2px;
    @include media-breakpoint-down(md) {
      border-radius: 30px;
    }
  }
}

.dl-link{
  $size: 30px;

  background-color: rgba(#000, 0.05);
  display: inline-block;
  &__img{
    width: $size;
    height: $size;
  }
  &:hover{
    background-color: rgba(#000, 0.1);
  }
}

.team-item{
  $size: 300px;

  width: $size;
  height: $size;
  padding: 50px 30px;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(#000, 0.1);
  position: relative;
  &:before{
    content: '';
    width: 100px;
    height: 30px;
    background-image: url(../images/stick.svg);
    background-repeat: no-repeat;
    background-size: 100px 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -50px;
  }
  &__img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    img{
      position: relative;
      left: 50%;
      height: 100%;
      transform: translate(-50%, 0);
      filter: grayscale(100%);
    }
  }
  &:hover{
    .team-item__img{
      img{
        filter: none;
      }
    }
  }
  @include media-breakpoint-down(md) {
    width: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.portfolio-item{
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s!important;
  &--disabled{
    transform: scale(0.8);
    opacity: 0.8;
  }
  &__img{
    width: 100%;
    height: auto;
  }
  &__description{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: calc(100% - 1rem);
    border-top-right-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
  }
}

.circled-icon{
  $size: 2rem;

  width: $size;
  min-width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  background-color: rgba(#fff, 0.8);
  text-align: center;
  display: inline-block;
  img{
    width: $size/2;
    height: $size/2;
  }
}

.rapallax-bgs{
  position: relative;
  overflow: hidden;
  &__content{
    position: relative;
    z-index: 9;
  }
  &__image{
    z-index: 0;
    position: absolute;
    @for $i from 1 through 3 {
      &--#{$i} {
        opacity: random(100)/100;
        transform: scale(random(100)/100);
        top: random(60) + %;
        left: 100% - $i*30%;
      }
    }
  }
}
