::-moz-selection {
  background: rgba(darken($yellow, 30%), 0.4);
}

::selection {
  background: rgba(darken($yellow, 30%), 0.4);
}

.current-shadow{
  box-shadow: 0 2px 6px rgba(#000, 0.2);
  z-index: 1;
}

.cursor-pointer{
  cursor: pointer;
}

a.current-shadow, .cursor-pointer.current-shadow{
  transition: box-shadow 0.3s;
  &:hover{
    box-shadow: 0 4px 8px rgba(#000, 0.3);
  }
}

.link-reset{
  text-decoration: none;
  color: inherit;
  &:hover, &:focus, &:active{
    text-decoration: none;
    color: inherit;
  }
}

.main-content{
  position: relative;
  z-index: 9;
  background-color: #fff;
  margin-bottom: 72px;
  padding-top: $header-height;
}

.top-block-up{
  margin-top: -$header-height;
}

.main-footer{
  z-index: 1;
}

.height-full{
  min-height: 100vh;
}

.height-half{
  min-height: 50vh;
}

.bg-gradient{
  background: linear-gradient(to right, $main-color , darken($main-color, 10%));
  color: #fff;
}

.overflow-hidden{
  overflow: hidden;
}

.title-char{
  $size: 4px;

  display: inline-block;
  height: $size;
  width: $size*6;
  border-radius: $size/2;
  background-color: $success;
}

.custom-link{
  position: relative;
  text-decoration: none;
  &:after{
    content: '';
    display: block;
    height: 4px;
    border-radius: 2px;
    width: 0;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
    transition: width 0.2s;
  }
  &:hover, &.active{
    text-decoration: none;
    &:after{
      width: 30px;
    }
  }
}

.mw-800{
  max-width: 800px;
}

.mw-600{
  max-width: 600px;
}

.mw-400{
  max-width: 400px;
}

.btn{
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  &:hover{
    box-shadow: 0 2px 8px rgba(#000, 0.3);
  }
  &:focus{
    box-shadow: 0 2px 4px rgba(#000, 0.2)!important;
  }
}

.btn-rounded{
  border-radius: 40px;
}

.relative{
  position: relative;
}

.main-section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.service-pic{
  width: 300px;
  height: auto;
}

.dl-link{
  $size: 30px;

  background-color: rgba(#000, 0.05);
  display: inline-block;
  &__img{
    width: $size;
    height: $size;
  }
  &:hover{
    background-color: rgba(#000, 0.1);
  }
}

.portfolio-item{
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s!important;
  &--disabled{
    transform: scale(0.8);
    opacity: 0.8;
  }
  &__img{
    width: 100%;
    height: auto;
  }
  &__description{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: calc(100% - 1rem);
    border-top-right-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
  }
}

.circled-icon{
  $size: 2rem;

  width: $size;
  min-width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  background-color: rgba(#fff, 0.8);
  text-align: center;
  display: inline-block;
  img{
    width: $size/2;
    height: $size/2;
  }
}
