::-moz-selection {
  background: rgba(darken($yellow, 30%), 0.4);
}

::selection {
  background: rgba(darken($yellow, 30%), 0.4);
}

.current-shadow{
  box-shadow: 0 2px 6px rgba(#000, 0.2);

}

a.current-shadow{
  &:hover{
    box-shadow: 0 4px 8px rgba(#000, 0.3);
  }
}

.link-reset{
  text-decoration: none;
  color: inherit;
  &:hover, &:focus, &:active{
    text-decoration: none;
    color: inherit;
  }
}

.main-content{
  position: relative;
  z-index: 9;
  background-color: #fff;
  margin-bottom: 72px;
  padding-top: 72px;
}

.main-footer{
  z-index: 1;
}

.height-full{
  min-height: 100vh;
}

.height-half{
  min-height: 50vh;
}

.title-char{
  $size: 4px;

  display: inline-block;
  height: $size;
  width: $size*6;
  border-radius: $size/2;
  background-color: $yellow;
}

.custom-link{
  position: relative;
  text-decoration: none;
  &:after{
    content: '';
    display: block;
    height: 4px;
    border-radius: 2px;
    width: 0;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
    transition: width 0.2s;
  }
  &:hover{
    text-decoration: none;
    &:after{
      width: 30px;
    }
  }
}

.mw-800{
  max-width: 800px;
}

.mw-600{
  max-width: 600px;
}

.mw-400{
  max-width: 400px;
}

.btn{
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  &:hover{
    box-shadow: 0 2px 8px rgba(#000, 0.3);
  }
  &:focus{
    box-shadow: 0 2px 4px rgba(#000, 0.2)!important;
  }
}

.btn-rounded{
  border-radius: 40px;
}

.relative{
  position: relative;
}

.main-section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.service-pic{
  width: 300px;
  height: auto;
}

.project-section{
  position: relative;
  // overflow: hidden;
  &__clip{
    clip: rect(auto, auto, auto, auto);
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    @include media-breakpoint-up(md) {
      position: absolute;
    }
  }
  &__item{
    max-width: 300px;
    max-height: 600px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    // width: 51.66667%;
    @include media-breakpoint-up(md) {
      left: 45%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 50px;
    }
    @include media-breakpoint-down(lg) {
      max-width: 200px;
      max-height: 400px;
    }
    @include media-breakpoint-down(md) {
      max-width: 150px;
      max-height: 300px;
    }
    &:before{
      content: '';
      position: absolute;
      width: 96%;
      height: 96%;
      top: 2%;
      left: 2%;
      border-radius: 40px;
      display: block;
      background-color: transparent;
      box-shadow: 0 40px 100px rgba(#000, 0.6);
    }
  }
  &__info{
    position: relative;
    z-index: 9;
  }
  &__frame{
    position: relative;
    z-index: 99;
  }
  &__pic{
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 60px;
    height: auto;
    margin-top: -2px;
    @include media-breakpoint-down(md) {
      border-radius: 30px;
    }
  }
}

.dl-link{
  background-color: rgba(#000, 0.05);
  display: inline-block;
  &__img{
    width: 50px;
    height: 50px;
  }
  &:hover{
    background-color: rgba(#000, 0.1);
  }
}

.team-item{
  width: 25%;
  overflow: hidden;
  &__img{
    height: 100%;
    filter: grayscale(100%);
    &:hover{
      filter: none;
    }
  }
  @include media-breakpoint-down(md) {
    width: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
