.side-nav{
  $size: 1rem;
  position: fixed;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  &__link{
    width: $size;
    height: $size;
    border-radius: $size;
    @extend .link-reset;
    background-color: #fff;
    margin-bottom: 0.5rem;
    position: relative;
    &:hover, &.active{
     .side-nav__text{
        opacity: 1;
        right: 100%;
      }
    }
  }
  &__text{
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    right: 50%;
    margin-right: 10px;
    top: 0;
    line-height: $size;
  }
}

.bg-navbar{
  background-color: rgba(#fff, 0.6);
}

.navbar-logo{
  height: 40px;
  width: 40px;
}