.portfolio-item{
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s!important;
  &--disabled{
    transform: scale(0.8);
    opacity: 0.8;
  }
  &__img{
    width: 100%;
    height: auto;
  }
  &__description{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: calc(100% - 1rem);
    border-top-right-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
  }
}

.project-section{
  position: relative;
  // overflow: hidden;
  &__clip{
    clip: rect(auto, auto, auto, auto);
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    @include media-breakpoint-up(md) {
      position: absolute;
    }
  }
  &__item{
    max-width: 300px;
    max-height: 600px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 99;
    // width: 51.66667%;
    @include media-breakpoint-up(md) {
      left: 25%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 50px;
    }
    @include media-breakpoint-down(lg) {
      max-width: 200px;
      max-height: 400px;
    }
    @include media-breakpoint-down(md) {
      max-width: 150px;
      max-height: 300px;
    }
    &:before{
      content: '';
      position: absolute;
      width: 96%;
      height: 96%;
      top: 2%;
      left: 2%;
      border-radius: 40px;
      display: block;
      background-color: transparent;
      box-shadow: 0 10px 30px rgba(#000, 0.4);
    }
  }
  &__info{
    position: relative;
    z-index: 9;
  }
  &__frame{
    position: relative;
    z-index: 99;
  }
  &__pic{
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 60px;
    height: auto;
    margin-top: -2px;
    @include media-breakpoint-down(md) {
      border-radius: 30px;
    }
  }
}

.bg-kyc{
  background: linear-gradient(to right, #00c1a5, #0068ff);
}

.bg-linger{
  background: linear-gradient(to right, #ff4a5b, #ffc816);
}

.bg-mesto{
  background: linear-gradient(to right, #8744c8, #009a86);
}