$font-family-base: 'Fira San', sans-serif;
$headings-font-family: 'Fira San', sans-serif;
$headings-font-weight: 400;
$headings-color: $gray-800;
$body-color: $gray-700;
$blue: #2B6BA4;
$pink: #E53061;
$yellow: #FDED35;
$link-color: $blue;
$main-color: $pink;

$gray-100: #CFD8DC;
$gray-200: #B0BEC5;
$gray-300: #90A4AE;
$gray-400: #78909C;
$gray-500: #607D8B;
$gray-600: #546E7A;
$gray-700: #455A64;
$gray-800: #37474F;
$gray-900: #263238;

$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 3.5;
$h3-font-size: $font-size-base * 2.75;
$h4-font-size: $font-size-base * 2.5;
$h5-font-size: $font-size-base * 2;
$h6-font-size: $font-size-base;

$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "pink":       $pink
), $theme-colors);

$input-btn-focus-box-shadow: none!important;
$btn-box-shadow: 0 4px 4px rgba(#000, 0.2);
// $btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-active-box-shadow: $input-btn-focus-box-shadow;
$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1.2rem;
$input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-sm: .8rem;
$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2rem;
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;